[Unit]
Description=Snapshot privileged CRIU broker
Documentation=file:/usr/share/doc/snapshotd/README.Debian
After=local-fs.target
Requires=snapshotd.socket

[Service]
Type=simple
ExecStart=/usr/libexec/snapshotd/snapshotd --config /etc/snapshotd/snapshotd.conf --worker-path /usr/libexec/snapshotd/snapshot-worker

[Install]
WantedBy=multi-user.target
