[Unit]
Description=Snapshot privileged CRIU broker
Documentation=file:/usr/share/doc/snapshotd/README.Debian
After=local-fs.target
Requires=snapshotd.socket

[Service]
Type=simple
ExecStart=/usr/libexec/snapshotd/snapshotd --state-dir /var/lib/snapshotd --worker-path /usr/libexec/snapshotd/snapshot-worker --criu-bin /usr/local/sbin/criu --criu-ns-bin /usr/local/sbin/criu-ns

[Install]
WantedBy=multi-user.target
